#
# Sanitas Miscellanous stuff
#
menu "Sanitas Miscellanous stuff"

config SANITAS_SKA_MNG_FPGA
	tristate "Sanitas Ska Management FPGA driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management FPGA driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_USERREG
	tristate "Sanitas SKA Management User Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management User Registers driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_LED
	tristate "Sanitas SKA Management Leds driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management Leds driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_ONEWIREREGS
	tristate "Sanitas SKA Management OneWire Register driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management Onewire driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_MDIO
	tristate "Sanitas SKA Management MDIO driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management MDIO driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_ETHREGS
	tristate "Sanitas SKA Management ETH Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management ETH Registers driver. Individual devices
	  drivers must be individually configured.


config SANITAS_SKA_MNG_LOCKREGS
	tristate "Sanitas SKA Management LOCK Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management LOCK Registers driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_HKREGS
	tristate "Sanitas SKA Management House Keeping Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management House Keeping Registers driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_FRAMREGS
	tristate "Sanitas SKA Management Fpga Ram  Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management Fpga Ram Registers driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_FPGA_I2C
	tristate "Sanitas SKA Management Fpga I2C  Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management Fpga I2C Registers driver. Individual devices
	  drivers must be individually configured.

config SANITAS_SKA_MNG_MCUREGS
	tristate "Sanitas SKA Management MCU Registers driver"
	depends on IMX_WEIM
	help
	  This enables the Sanitas SKA Management MCU Registers driver. Individual devices
	  drivers must be individually configured.
endmenu
