/*
 * Copyright 2014-2015 Sanitas EG
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/* NAND_ALE = SD1_RST */

/* Missing configurations:
 - PMIC
 - PWM
*/

/dts-v1/;
#include "imx6d.dtsi"
#include "imx6qdl-inventami.dtsi"

/ {
	model = "Sanitas i.MX6 Dual Inventami Board";
	compatible = "sanitas,imx6d-inventami-emmc", "fsl,imx6q";

	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";

		camera_vddd: camera_3p3v	{
			compatible = "regulator-fixed";
			regulator-name = "camera_3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		codec_vddd: codec_1p8v {
			compatible = "regulator-fixed";
			regulator-name = "codec_1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 15 0>; /* KEY_ROW4 */
			enable-active-low; /* LM3526 !EN*/
		};
		
		reg_usb_h1_vbus: usb_h1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

	leds {
		compatible = "gpio-leds";

		debug-led {
			gpios = <&gpio1 25 0>;
			linux,default-trigger = "heartbeat";
		};

		user-led {
			gpios = <&gpio1 26 0>;
			linux,default-trigger = "oneshot";
		};
	};

	sound {
		compatible = "fsl,imx6d-inventami-sgtl5000", "fsl,imx-audio-sgtl5000";
		model = "imx6d-inventami-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT",
			"LINE_IN", "Line In Jack",
			"Line Out Jack", "LINE_OUT"; /* Figure out if it's really needed... */
		mux-int-port = <1>;
		mux-ext-port = <6>;
	};
		
	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi", "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};
	
/*	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};
*/
	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1280X720M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-XGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

    sanitas_mxc_v4l2_csi_camera0: sanitas_mxc_v4l2_csi@0 {
        compatible = "sanitas,sanitas_mxc_v4l2_csi";
        csi_id = <0>;
    };

	v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

    sanitas_mxc_v4l2_mipi_camera0: sanitas_mxc_v4l2_mipi@1 {
        compatible = "sanitas,sanitas_mxc_v4l2_mipi";
        csi_id = <1>;
    };

    inventami_video_out: inventami_video_out@0x08000400  {
        compatible = "sanitas,inventami-video-out";
        reg = <0x08000400 0x100>;
        status = "okay";
    };

    inventami_video_ch0: inventami_video_ch@0x08000500  {
        compatible = "sanitas,inventami-video-ch";
        reg = <0x08000500 0x200>;
        status = "okay";
    };
    
    inventami_video_ch1: inventami_video_ch@0x08000700  {
        compatible = "sanitas,inventami-video-ch";
        reg = <0x08000700 0x200>;
        status = "okay";
    };

    inventami_colorbar: inventami_colorbar@0x08000900 {
        compatible = "sanitas,inventami-colorbar";
        reg = <0x08000900 0x100>;
        status = "okay";
    };
    
    inventami_debug: inventami_debug@0x08000200 {
    compatible = "sanitas,inventami-debug";
    reg = <0x08000200 0x100>;
    status = "okay";     
    };
    
    inventami_gpioglobal: inventami_gpioglobal@0x09200000 {
    compatible = "sanitas,inventami-gpioglobal";
    reg = <0x09200000 0x10>;
    status = "okay";     
    };

    inventami_gpio_17: inventami_gpio@0x09200010 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200010 0x10>;
    status = "okay";     
    };   
    
    inventami_gpio_18: inventami_gpio@0x09200020 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200020 0x10>;
    status = "okay";     
    }; 
    
    inventami_gpio_2: inventami_gpio@0x09200030 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200030 0x10>;
    status = "okay";     
    };   
    
    inventami_gpio_3: inventami_gpio@0x09200040 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200040 0x10>;
    status = "okay";     
    }; 
    
    inventami_gpio_4: inventami_gpio@0x09200050 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200050 0x10>;
    status = "okay";     
    };   
    
    inventami_gpio_5: inventami_gpio@0x09200060 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200060 0x10>;
    status = "okay";     
    }; 
    
    inventami_gpio_6: inventami_gpio@0x09200070 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200070 0x10>;
    status = "okay";     
    };   
    
    inventami_gpio_7: inventami_gpio@0x09200080 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09200080 0x10>;
    status = "okay";     
    };


/*SEQUENCER*/
    inventami_seqglobal: inventami_seqglobal@0x09500000 {
    compatible = "sanitas,inventami-seqglobal";
    reg = <0x09500000 0x10>;
    status = "okay";     
    };

    inventami_seq_0: inventami_seq@0x09500020 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500020 0x20>;
    status = "okay";     
    };
    
    inventami_seq_1: inventami_seq@0x09500040 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500040 0x20>;
    status = "okay";     
    };
    
    inventami_seq_2: inventami_seq@0x09500060 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500060 0x20>;
    status = "okay";     
    };
        
    inventami_seq_3: inventami_seq@0x09500080 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500080 0x20>;
    status = "okay";     
    };

	inventami_seq_4: inventami_seq@0x095000A0 {
    compatible = "sanitas,inventami-seq";
    reg = <0x095000A0 0x20>;
    status = "okay";     
    };
    
    inventami_seq_5: inventami_seq@0x095000C0 {
    compatible = "sanitas,inventami-seq";
    reg = <0x095000C0 0x20>;
    status = "okay";     
    };

	inventami_seq_6: inventami_seq@0x095000E0 {
    compatible = "sanitas,inventami-seq";
    reg = <0x095000E0 0x20>;
    status = "okay";     
    };

	inventami_seq_7: inventami_seq@0x09500100 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500100 0x20>;
    status = "okay";     
    };

	inventami_seq_8: inventami_seq@0x09500120 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500120 0x20>;
    status = "okay";     
    };
    
    
    inventami_seq_9: inventami_seq@0x09500140 {
    compatible = "sanitas,inventami-seq";
    reg = <0x09500140 0x20>;
    status = "okay";     
    };

    /************ SENSOR GPIO X SEQUENCER *********************/
    /*CH1*/
    inventami_ch1gpioglobal: inventami_gpioglobal@0x09411000 {
    compatible = "sanitas,inventami-gpioglobal";
    reg = <0x09411000 0x10>;
    status = "okay";     
    };

    inventami_ch1gpioFrameReq: inventami_gpio@0x09411010 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09411010 0x10>;
    status = "okay";     
    };   
    
    inventami_ch1gpioTexp1: inventami_gpio@0x09411020 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09411020 0x10>;
    status = "okay";     
    }; 
    
    inventami_ch1gpioTexp2: inventami_gpio@0x09411030 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09411030 0x10>;
    status = "okay";     
    };   
    
    /*CH2*/
    inventami_ch2gpioglobal: inventami_gpioglobal@0x09421000 {
    compatible = "sanitas,inventami-gpioglobal";
    reg = <0x09421000 0x10>;
    status = "okay";     
    };

    inventami_ch2gpioFrameReq: inventami_gpio@0x09421010 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09421010 0x10>;
    status = "okay";     
    };   
    
    inventami_ch2gpioTexp1: inventami_gpio@0x09421020 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09421020 0x10>;
    status = "okay";     
    }; 
    
    inventami_ch2gpioTexp2: inventami_gpio@0x09421030 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09421030 0x10>;
    status = "okay";     
    };   
    
    /*CH3*/
    inventami_ch12gpioglobal: inventami_gpioglobal@0x09431000 {
    compatible = "sanitas,inventami-gpioglobal";
    reg = <0x09431000 0x10>;
    status = "okay";     
    };

    inventami_ch12gpioFrameReq: inventami_gpio@0x09431010 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09431010 0x10>;
    status = "okay";     
    };   
    
    inventami_ch12gpioTexp1: inventami_gpio@0x09431020 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09431020 0x10>;
    status = "okay";     
    }; 
    
    inventami_ch12gpioTexp2: inventami_gpio@0x09431030 {
    compatible = "sanitas,inventami-gpio";
    reg = <0x09431030 0x10>;
    status = "okay";     
    };  
    
    
/************* EDGEDETECTION*********/
	inventami_edgedetect_ch1: inventami_edgedetect@0x08000C00 {
    compatible = "sanitas,inventami-edgedetect";
    reg = <0x08000C00 0x20>;
    status = "okay";     
    };

	inventami_edgedetect_ch2: inventami_edgedetect@0x08000D00 {
    compatible = "sanitas,inventami-edgedetect";
    reg = <0x08000C00 0x20>;
    status = "okay";     
    };
    

/*
    inventami_csi_camera1: inventami_csi@1 {
        compatible = "sanitas,inventami_csi";
        csi_id = <1>;
    };

	v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
        status = "okay";
	};
	
    v4l2_cap_2 {
        compatible = "fsl,imx6q-v4l2-capture";
        ipu_id = <1>;
        csi_id = <0>;
        mclk_source = <0>;
        status = "okay";
    };

    v4l2_cap_3 {
        compatible = "fsl,imx6q-v4l2-capture";
        ipu_id = <1>;
        csi_id = <1>;
        mclk_source = <0>;
        status = "okay";
    };
*/
   	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
	
	inventamispi1: inventamispi@08000300 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "sanitas,inventami-spi";
		reg = <0x08000300 0x100>;
		bufferbase = <0x09000000>;
		status = "okay";
	};
	
	inventamifpga1: inventamifpga@08000000 {
	   compatible = "sanitas,inventami-fpga";
	   reg = <0x08000000 0x10>;
	   status = "okay";
	};
};

&mxcfb1 { /* ##OK */
	status = "okay";
};

&audmux { /* ##OK */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_6>;
};

&ecspi1 { /* ##OK */
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 9 0>; /* SS0 (Flash): KEY_ROW1 */ /* Also set in HOG */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_3>;
	status = "okay";

	flashCPU: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
		status = "disabled";
	};
};

&ecspi3 { /* There are no devices connected, so we disable it */ /* ##OK */ 
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio4 24 0>; /* SS0 */ /* Also set in HOG */
	cs-gpios = <&gpio4 25 0>; /* SS1 */ /* Also set in HOG */
	cs-gpios = <&gpio4 26 0>; /* SS2 */ /* Also set in HOG */
	cs-gpios = <&gpio4 27 0>; /* SS3 */ /* Also set in HOG */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3_2>;
	status = "disabled";
};

&fec { /* ##OK */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rgmii";
	status = "okay";
};

&hdmi_audio { /* ##OK */
	status = "okay";
};

&hdmi_cec { /* ##OK */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi_cec_1>;
	status = "ok"; /* For now... As I don't know exactly what does it do... */
};

&ldb { /* ##OK */
	ipu_id = <1>;
	disp_id = <1>;
	ext_ref = <1>;
	mode = "sep1";
	sec_ipu_id = <1>;
	sec_disp_id = <0>;
	status = "disabled";
};

&hdmi_core { /* ##OK */
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video { /* ##OK */
	fsl,phy_reg_vlev = <0x0294>;    /* Magic values... */
	fsl,phy_reg_cksymtx = <0x800d>; /* Magic values... */
	status = "okay";
};

&i2c1 { /* ##OK */
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_1>;

	sensor1: lm87@2c {
		compatible = "lm87";
		reg = <0x2c>;
	};

    eeprom1: 24c02@50 {
        compatible = "24c02";
        reg = <0x50>;
        pagesize = <128>;
    };

    eeprom2: 24c02@51 {
        compatible = "24c02";
        reg = <0x51>;
        pagesize = <128>;
    };

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDD-supply = <&codec_vddd>;
		VDDA-supply = <&reg_3p3v>;
		VDDIO-supply = <&reg_3p3v>;
	};
};

&i2c2 { /* ##OK */
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_1>;
	status = "okay";

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {  /* ##OK */
	status = "ok";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_1>;
	
	expartic_i2cctrl: expartic_i2cctrl@70{
		compatible = "expartic_i2cctrl";
		reg = <0x70>;
	};

	
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_0__CCM_CLKO1    		0x130b0 	/* AUDIO_CLK: ST, 100k PD, PUSH-PULL, PULL&KEEP, 40ohm, SLOW */
			    MX6QDL_PAD_KEY_COL4__USB_OTG_OC 		0x1b0b0 	/* OTG_OC: ST, 100k PU, PUSH-PULL, PULL&KEEP, 40ohm, SLOW */
			    /*MX6QDL_PAD_KEY_ROW1__ECSPI1_SS0 		0x80000000 */ /* SPI Flash CS */ /* Note: Is this redundant? */
				MX6QDL_PAD_DISP0_DAT3__ECSPI3_SS0		0x80000000	/* SPI Flash CS */ /* Note: Is this redundant? */
				MX6QDL_PAD_DISP0_DAT4__ECSPI3_SS1		0x80000000	/* SPI Flash CS */ /* Note: Is this redundant? */
				MX6QDL_PAD_DISP0_DAT5__ECSPI3_SS2		0x80000000	/* SPI Flash CS */ /* Note: Is this redundant? */
				MX6QDL_PAD_DISP0_DAT6__ECSPI3_SS3		0x80000000	/* SPI Flash CS */ /* Note: Is this redundant? */
				
				MX6QDL_PAD_ENET_MDIO__GPIO1_IO22		0x80000000 /* */
				/* MX6QDL_PAD_ENET_REF_CLK__GPIO1_IO23 	0x80000000 */ /* */
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25		0x110b0    /* LED 1 */
				MX6QDL_PAD_ENET_RXD1__GPIO1_IO26		0x110b0    /* LED 2 */
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27		0x80000000 /* */
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28		0x80000000 /* */

				MX6QDL_PAD_SD4_DAT1__GPIO2_IO09			0x80000000 /* */
				MX6QDL_PAD_SD4_DAT3__GPIO2_IO11			0x80000000 /* */
				MX6QDL_PAD_SD4_DAT4__GPIO2_IO12			0x80000000 /* */
				MX6QDL_PAD_SD4_DAT7__GPIO2_IO15			0x80000000 /* */
				/* MX6QDL_PAD_EIM_EB0__GPIO2_IO28		0x80000000  */ /* PCIe_RST */
				MX6QDL_PAD_EIM_EB1__GPIO2_IO29			0x80000000 /* */
				MX6QDL_PAD_EIM_EB3__GPIO2_IO31			0x80000000 /* */ 

				MX6QDL_PAD_EIM_D22__GPIO3_IO22			0x80000000 /* */
				MX6QDL_PAD_EIM_D23__GPIO3_IO23			0x80000000 /* */
				MX6QDL_PAD_EIM_D26__GPIO3_IO26			0x80000000 /* */
				MX6QDL_PAD_EIM_D27__GPIO3_IO27			0x80000000 /* */

				MX6QDL_PAD_GPIO_19__GPIO4_IO05			0x80000000 /* SPIWP */
				MX6QDL_PAD_DI0_DISP_CLK__GPIO4_IO16		0x80000000 /* AUDIO_JACK */

				MX6QDL_PAD_DISP0_DAT11__GPIO5_IO05		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT14__GPIO5_IO08		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT15__GPIO5_IO09		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT16__GPIO5_IO10		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT17__GPIO5_IO11		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13		0x80000000 /* */
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17		0x80000000 /* */

				MX6QDL_PAD_NANDF_ALE__GPIO6_IO08		0x80000000 /* SD1_RST */
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09		0x80000000 /* */
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14		0x80000000 /* */
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15		0x80000000 /* */
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16		0x80000000 /* */

				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00			0x80000000 /* */
				MX6QDL_PAD_SD3_DAT4__GPIO7_IO01			0x80000000 /* */
				MX6QDL_PAD_SD3_CLK__GPIO7_IO03			0x80000000 /* */
				MX6QDL_PAD_SD3_DAT2__GPIO7_IO06			0x80000000 /* */
				MX6QDL_PAD_SD3_DAT3__GPIO7_IO07			0x80000000 /* */
				MX6QDL_PAD_SD3_RST__GPIO7_IO08			0x80000000 /* */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12			0x80000000 /* LVDS_TCH */
				
				MX6QDL_PAD_CSI0_DAT4__IPU1_CSI0_DATA04   0x80000000
                MX6QDL_PAD_CSI0_DAT5__IPU1_CSI0_DATA05   0x80000000
                MX6QDL_PAD_CSI0_DAT6__IPU1_CSI0_DATA06   0x80000000
                MX6QDL_PAD_CSI0_DAT7__IPU1_CSI0_DATA07   0x80000000
                MX6QDL_PAD_CSI0_DAT8__IPU1_CSI0_DATA08   0x80000000
                MX6QDL_PAD_CSI0_DAT9__IPU1_CSI0_DATA09   0x80000000
                MX6QDL_PAD_CSI0_DAT10__IPU1_CSI0_DATA10  0x80000000
                MX6QDL_PAD_CSI0_DAT11__IPU1_CSI0_DATA11  0x80000000
                MX6QDL_PAD_CSI0_DAT12__IPU1_CSI0_DATA12  0x80000000
                MX6QDL_PAD_CSI0_DAT13__IPU1_CSI0_DATA13  0x80000000
                MX6QDL_PAD_CSI0_DAT14__IPU1_CSI0_DATA14  0x80000000
                MX6QDL_PAD_CSI0_DAT15__IPU1_CSI0_DATA15  0x80000000
                MX6QDL_PAD_CSI0_DAT16__IPU1_CSI0_DATA16  0x80000000
                MX6QDL_PAD_CSI0_DAT17__IPU1_CSI0_DATA17  0x80000000
                MX6QDL_PAD_CSI0_DAT18__IPU1_CSI0_DATA18  0x80000000
                MX6QDL_PAD_CSI0_DAT19__IPU1_CSI0_DATA19  0x80000000
                MX6QDL_PAD_CSI0_PIXCLK__IPU1_CSI0_PIXCLK 0x80000000
                MX6QDL_PAD_CSI0_MCLK__IPU1_CSI0_HSYNC    0x80000000
                MX6QDL_PAD_CSI0_VSYNC__IPU1_CSI0_VSYNC   0x80000000
				>;
		};
	};
};

&ssi1 { /* ##OK */
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 { /* ##OK */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_2>;
};

&uart2 { /* ##OK */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_3>;
};

&uart3 { /* ##OK */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_2>;
};

/*
	&uart4 { /* ##OK */
/*		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_uart4_1>;
	};
*/
&usbh1 { /* ##OK */
	status = "okay";
	vbus-supply = <&reg_usb_h1_vbus>;
};

&usbotg { /* ##OK */
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2>;
	/* disable-over-current; */ /* The Pinmux has been configured... Why must we keep it disabled? */
	status = "okay";
};

&sata { /* ##OK */
	status = "okay";
};

&pcie { /* ##OK */
	reset-gpio = <&gpio2 28 0>;
    status = "okay";
};

&usdhc1 { /* eMMC */ /* ##OK */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1_2>;
	non-removable;
	/* cd-gpios = <&gpio1 1 0>; */
	/* cd-inverted; */
	wp-gpios = <&gpio1 9 0>;
	vmmc-supply = <&reg_3p3v>;
	bus-width = <8>;
	status = "okay";
};

&usdhc2 { /* uSD PCB Edge */ /* ##OK */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
	non-removable;
	cd-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
	fsl,cd-controller;
	cd-inverted;
	wp-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_3p3v>;
	bus-width = <4>;
	status = "okay";
};

/*&flexcan1 { /* ##OK */
/*	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_3>;
	status = "okay"; 
};
*/

&flexcan2 { /* ##OK */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2_2>;
	status = "okay";
};

&gpmi { /* DO NOT ENABLE */ /* ##OK */
	status = "disable";
};

&mipi_csi {
	status = "okay";
	ipu_id = <0>;
	csi_id = <1>;
	v_channel = <1>;
	lanes = <4>;
	pll = <0x0000002c>; /* 2C 46 */
	isr = <0x00000001>;
    /* clocks = <&clks IMX6QDL_CLK_EMI_SEL>, <&clks IMX6QDL_CLK_EMI_SEL>, <&clks IMX6QDL_CLK_VIDEO_27M>; */
    /* clock-names = "dphy_clk", "pixel_clk", "cfg_clk"; */
};

&weim {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim_inventami_1 &pinctrl_weim_cs0_1 &pinctrl_weim_cs1_1>;
	#address-cells = <2>;
	#size-cells = <1>;
	ranges = <0 0 0x08000000 0x04000000>;
/*	ranges = <1 0 0x0C000000 0x04000000>; */

	status = "okay";
	
/*	testingbase = <0x08000800>; */
	
	dummy@0,0 {
		reg = <0 0 0x04000000>;
		fsl,weim-cs-timing = <0x00610089 0x00001002 0x1c022000 0x00000000 0x1c092480 0x00000000>;
	};
};


&inventamispi1{
	sanitas,spi-num-chipselects = <9>;
	status = "okay";

	ch2Sensor: cmv4000sensor@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "sanitas,cmvx000_sensor";
		spi-max-frequency = <20000000>;
		sanitas,slaveid = <0x00000202>;
		reg = <1>;
		status = "okay";
	};

    ch2Frontend: cmv4000frontend@2 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "sanitas,cmvx000_frontend";
        spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00008002>;
        reg = <2>;
        status = "okay";
    };

    ch2CPLDFlash: m25p80@3 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "micron,m25px16";
        spi-max-frequency = <20000000>;
        reg = <3>;
        sanitas,slaveid = <0x00000102>; 
    };
/*
    ch1Sensor: mt9p031sensor@4 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "sanitas,mt9p031_sensor";
        spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00008001>;
        reg = <4>;
        status = "okay";
    };

    ch1Frontend: mt9p031frontend@5 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "sanitas,mt9p031_frontend";
        spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00008001>;
        reg = <5>;
        status = "okay";
    };
*/
	ch1Sensor: cmv4000sensor@4 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "sanitas,cmvx000_sensor";
		spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00000201>;
		reg = <4>;
		status = "okay";
	};

    ch1Frontend: cmv4000frontend@5 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "sanitas,cmvx000_frontend";
        spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00008001>;
        reg = <5>;
        status = "okay";
    };

    ch1CPLDFlash: m25p80@6 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "micron,m25px16";
        spi-max-frequency = <20000000>;
        reg = <6>;
        sanitas,slaveid = <0x00000101>; 
    };

	flashFPGA: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
		sanitas,slaveid = <0x00000004>; 
	};
	
	ch12Sensor: cmv4000sensor@7 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "sanitas,cmvx000_sensor";
		spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00000203>;
		reg = <7>;
		status = "okay";
	};

	ch12Frontend: cmv4000frontend@8 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "sanitas,cmvx000_frontend";
        spi-max-frequency = <20000000>;
        sanitas,slaveid = <0x00008003>;
        reg = <8>;
        status = "okay";
    };
    
    
};
